@use "../abstracts/variable" as *;

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $NanumSquareRound;
  font-size: 0.813rem;
  text-align: center;
  color: #252c41;
}
#footer a {
  text-decoration: none;
  color: #252c41;
}
#footer > div {
  display: flex;
  gap: 0.625rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.875rem;
}