@use "sass:list";
$SBAggroB: "SBAggroB";
$NanumSquareRound: "NanumSquareRound";
$colors: #e53a40, #efdc05, #5cab7d, #30a9de, #ffffff, #222222;
// Reset CSS
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Font
@font-face {
  font-family: $SBAggroB;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $NanumSquareRound;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: $SBAggroB;
}

.App {
  display: grid;
  gap: 1.875rem;
  grid-template-rows: 5rem auto 17.5rem;
  //padding: 1.25rem;
}

// Navbar
nav {
  display: flex;
  gap: 6.25rem;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 500;
}
nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 5.313rem;
  list-style-type: none;
}
nav a {
  text-decoration-line: none;
  color: #222222;
  padding-top: 5px;
}
nav a:hover {
  transform: scale(1.1);
}
nav .nav_active {
  border-top: solid 4px #e53a40;
}

//About {
#about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 12.5rem;
  font-family: $NanumSquareRound;
}
#about > div {
  width: 31.25rem;
  height: 15rem;
  padding: 1.25rem;
  line-height: 20px;
}
#about a {
  text-decoration: none;
  color: #e53a40;
}

//CardSearch {
#cardSearch {
  display: flex;
  gap: 1.875rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.875rem;
}
.table {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
  align-items: center;
  justify-content: center;
  font-family: $NanumSquareRound;
  font-size: 1.25rem;
}
.table .row {
  display: flex;
  column-gap: 1.875rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.table .row > div:nth-child(1) {
  width: 5rem;
  font-weight: bold;
}
.table .row > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  gap: 0.938rem;
  align-items: center;
  justify-content: center;
  width: 21.875rem;
}
#cardSearch .row input {
  width: 12.5rem;
  height: 1.875rem;
  font-family: $NanumSquareRound;
}
#cardSearch select {
  width: 20rem;
  height: 1.875rem;
  font-family: $NanumSquareRound;
  font-size: 0.938rem;
  text-overflow: ellipsis;
}
#cardSearch .badge {
  padding: 0.313rem;
  border: solid 2px #566270;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}
#cardSearch .badge.clicked {
  border: 2px dashed #090707;
}
#cardSearch .color .badge {
  @for $i from 1 through length($colors) {
    color: #ffffff;
    &:nth-child(#{$i}) {
      background-color: nth($colors, $i);
      @if $i == 2 {
        color: #222222;
      } @else if $i == 5 {
        color: #222222;
      }
    }
  }
}
#cardSearch .color > div:nth-child(6).clicked {
  border-color: #ffffff;
}
#cardSearch #searchBtn {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 2.5rem 0.625rem 2.5rem;
  border: none;
  border-radius: 25px;
  background-color: #e53a40;
  font-family: $SBAggroB;
  color: #ffffff;
  font-size: 1.875rem;
  letter-spacing: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
#cardSearch #searchBtn::after {
  content: "";
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
  background: url("../public/images/search.png") center / contain no-repeat;
}
#cardSearch .result {
  display: flex;
  gap: 1.875rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  font-family: $NanumSquareRound;
}
#cardSearch .result .tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
}
#cardSearch .result .badge {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  // height: 1.188rem;
  border: solid 0.5px #090707;
  background-color: #e0e3da;
  font-size: 0.938rem;
  pointer-events: none;
}
#cardSearch .result .badge::before {
  content: "";
  width: 0.563rem;
  height: 0.563rem;
  background: url("../public/images/close_btn.svg") center / contain no-repeat;
  // pointer-events: auto;
}
#cardSearch .option {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#cardSearch .option > div:nth-child(2) {
  display: flex;
}
#cardSearch .result .count {
  min-width: 3.125rem;
  font-family: $SBAggroB;
  font-size: 1.25rem;
}
#cardSearch .result select {
  width: 6.875rem;
}
#cardSearch .result .flip {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  min-width: 9.375rem;
}
#cardSearch .result input {
  width: 1.563rem;
  height: 1.563rem;
}
// CardList
#cardList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.563rem;
  padding-top: 1.875rem;
}
.card {
  width: 15.625rem;
  height: 21.813rem;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
}
.card.horizontal {
  width: 21.813rem;
  height: 15.625rem;
}
.card .on {
  z-index: 1;
}
.cardFront,
.cardBack {
  background-size: contain;
  background-repeat: no-repeat;
}
.cardFront {
  position: relative;
  width: 15.625rem;
  height: 21.813rem;
}
.card.horizontal .cardFront {
  width: 21.813rem;
  height: 15.625rem;
}
.loading {
  // filter: blur(1px);
  clip-path: inset(0);
}
.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}
.cardBack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: -354px;
  width: 15.625rem;
  height: 21.813rem;
  z-index: -1;
  isolation: isolate;
}
.card.horizontal .cardBack {
  width: 21.813rem;
  height: 15.625rem;
  top: -255px;
}
.cardBack::after {
  content: "";
  position: absolute;
  border: solid 3px;
  border-radius: 0.625rem;
  background: #ffffff;
  z-index: -1;
  inset: 0;
  opacity: 0.8;
}
.cardBack.red::after {
  border-color: #e53a40;
}
.cardBack.yellow::after {
  border-color: #efdc05;
}
.cardBack.green::after {
  border-color: #5cab7d;
}
.cardBack.blue::after {
  border-color: #30a9de;
}
.cardBack.black ::after {
  border-color: #090707;
}
.cardBack.white::after {
  border-color: #ffffff;
}
.card .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2rem;
  padding-top: 1.25rem;
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
}
.card .title .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 7px;
}
.card .title .name.long {
  margin-left: 3.75rem;
  margin-right: 0.313rem;
  font-size: 0.938rem;
}
.card.horizontal .title .name.long {
  margin-left: 0;
  font-size: 1.25rem;
}
.card.horizontal .right {
  top: 210px;
  left: 230px;
}
.card.horizontal .right .category {
  opacity: 0;
}
.card .right .category {
  font-size: 0.75rem;
  font-weight: 300;
}
.card .right .level {
  color: #ffffff;
  -webkit-text-stroke: 1px #222222;
}
.card .jobs {
  display: flex;
  gap: 0.313rem;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 0.625rem;
}
.card .jobs .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 1.125rem;
  border: solid 1px;
  border-radius: 0.625rem;
  padding: 0.188rem 0.625rem 0 0.625rem;
  background-color: #ffffff;
  font-size: 0.75rem;
}
.card .effect {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  line-height: 1.125rem;
  font-size: 0.938rem;
}
.cardBack .bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 0.625rem 0.625rem 0.625rem;
}
.cardBack .bottom > div:nth-child(1) {
  display: flex;
  gap: 0.313rem;
}
.cardBack .bottom .id {
  align-self: flex-end;
  font-size: 0.625rem;
}
.cardBack .bottom > div:nth-child(2) {
  display: flex;
  gap: 0.625rem;
}
.bottom .rarity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.375rem;
  padding: 0 0.313rem 0 0.313rem;
  border: solid 1px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 0.938rem;
}
.AP,
.LP {
  display: flex;
  gap: 0.313rem;
  align-items: center;
  justify-content: center;
}
.AP::before {
  content: "";
  display: flex;
  background: url("../public/images/AP.svg") center / contain no-repeat;
  width: 0.75rem;
  height: 1.438rem;
}
.LP::before {
  content: "";
  display: flex;
  background: url("../public/images/LP.svg") center / contain no-repeat;
  width: 0.75rem;
  height: 1.438rem;
}

// Footer
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.813rem;
  text-align: center;
  color: #252c41;
}
#footer a {
  text-decoration: none;
  color: #252c41;
}
#footer > div {
  display: flex;
  gap: 0.625rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.875rem;
}
